<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <a href="/user/signin">Sign In</a>/<a href="/user/signup">Sign Up</a>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Try out the <%= title %>!</p>
    <%- include('textform') %>
  </body>
  <script src="./javascripts/app.js"></script>
</html>
