<form method="post" action="/send" >
  <!-- <fieldset> -->
  <input type="text" name="target" placeholder="enter num"><br>
  <input type="text" name="content" placeholder="message contents"><br>
  <input type="submit" value="Submit" />
  <!-- </fieldset> -->
</form>
