<form method="post" action="/user/signin" >
  <!-- <fieldset> -->
  <input type="text" name="name" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="Submit" />
  <!-- </fieldset> -->
</form>
