<form method="post" action="/signup" >
  <!-- <fieldset> -->
  <input type="text" name="name" placeholder="username"><br>
  <input type="text" name="password" placeholder="password"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="submit" value="Submit" />
  <!-- </fieldset> -->
</form>
